  <div class="section" id="events">
        <div class="container">
              <h2>Events</h2>

              <div class="timeline">
                <div class="ev-container left">
                  <div class="ev-content">
                    <div class="ev-title">Freshers Party</div>
                    <div class="ev-desc">An evening to welcome the freshers of the department packed with games, performances, music, and food</div>
                    <div class="ev-info">
                      <div class="ev-date">20 Sept</div>
                      <div class="ev-time">17:00</div>
                      <div class="ev-venue">Dogra Hall, IIT Delhi</div>
                    </div>
                    <div class="ev-link">
                      <a class="ev-btn" href="https://www.facebook.com/maths.society.iitd/posts/1618677914930349">Follow</a>
                    </div>
                  </div>
                </div>
                <div class="ev-container right">
                  <div class="ev-content">
                    <div class="ev-title">LAN Gaming Event</div>
                    <div class="ev-desc">
                      A CSGO gaming event held in association with ACES ACM and Electrical Engineering Society with prize pool of well over 12K
                    </div>
                    <div class="ev-info">
                      <div class="ev-date">24 Oct</div>
                      <div class="ev-time hidden">22:00</div>
                      <div class="ev-venue">Shivalik Hostel Mess, IIT Delhi</div>
                    </div>
                    <div class="ev-link">
                      <a class="ev-btn" href="https://www.facebook.com/maths.society.iitd/posts/1659315004199973">Follow</a>
                    </div>
                  </div>
                </div>
                <div class="ev-container left">
                  <div class="ev-content">
                    <div class="ev-title">Alumini Meet</div>
                    <div class="ev-desc">An interactive session in which the alumni shared their experiences with their juniors.</div>
                    <div class="ev-info">
                      <div class="ev-date">02 Nov</div>
                      <div class="ev-time hidden">16:30</div>
                      <div class="ev-venue hidden">LHC, IIT Delhi</div>
                    </div>
                    <div class="ev-link">
                      <a class="ev-btn" href="https://www.facebook.com/maths.society.iitd/posts/1668270633304410">Follow</a>
                    </div>
                  </div>
                </div>
                <div class="ev-container right">
                  <div class="ev-content">
                    <div class="ev-title">Lemniscate '20</div>
                    <div class="ev-desc"></div>
                    <div class="ev-info">
                      <div class="ev-date">18 Jan</div>
                      <div class="ev-time hidden">10:00</div>
                      <div class="ev-venue hidden">OAT, SAC, IIT Delhi</div>
                    </div>
                    <div class="ev-link">
                      <a class="ev-btn" href="https://www.facebook.com/maths.society.iitd/">Follow</a>
                    </div>
                  </div>
                </div>

              </div>

              <div class="msg-box">Further events were cancelled because of COVID19</div>


        </div> 
  </div>



  <script type="text/javascript">
      //For events
      $(".ev-content .ev-venue").prepend("<i class='fa fa-map-marker' style='width: 18px;text-align:center;'></i> &nbsp");
      $(".ev-content .ev-time").prepend("<i class='fa fa-clock-o' style='width: 18px;text-align:center;'></i> &nbsp");
      $(".ev-content .ev-date").prepend("<i class='fa fa-calendar' style='width: 18px;text-align:center;'></i> &nbsp");
  </script>

