  <div class="section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Our Team</h2>

          <div class="row">
            
            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Ashray Aman</div>
                <div class="mem-pos">Senior Advisor</div>
                <div class="mem-social">
                  <a href="mailto:ashray17aman@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                  <a href="https://www.linkedin.com/in/ashray-aman-68652850/" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Ashish Gupta</div>
                <div class="mem-pos">General Secretary</div>
              </div>
            </div>


            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Md Sajid</div>
                <div class="mem-pos">Deputy General Secretary</div>
                <div class="mem-social">
                  <a href="mailto:mdsajid1044@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                  <a href="https://www.facebook.com/md.sajidkhan.1044" target="_blank"><i class="fa fa-facebook"></i></a>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Aman Prakash</div>
                <div class="mem-pos">Finance Secretary</div>
                <div class="mem-social">
                  <a href="mailto:mas197061@iitd.ac.in" target="_blank"><i class="fa fa-envelope"></i></a>
                  <a href="https://www.facebook.com/aman.bhadani.56" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/bhadani_iitd/" target="_blank"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/aman-prakash-534023182/" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Abhinava Sikdar</div>
                <div class="mem-pos">Overall Coordinator</div>
                <div class="mem-social">
                  <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Arushi Agrawal</div>
                <div class="mem-pos">Overall Coordinator</div>
                <div class="mem-social">
                  <a href="mailto:arushi4998@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                  <a href="https://www.linkedin.com/in/arushi-agrawal-b647a7135/" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Ashutosh Mishra</div>
                <div class="mem-pos">Overall Coordinator</div>
                <div class="mem-social">
                  <a href="mailto:ashutoshmishra9241@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                  <a href="https://www.facebook.com/profile.php?id=100005305294239" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/_aleph_naught_/" target="_blank"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/ashutosh-mishra-b34087140" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Pankaj Goyal</div>
                <div class="mem-pos">Overall Coordinator</div>
                <div class="mem-social">
                  <a href="mailto:mas197088@iitd.ac.in" target="_blank"><i class="fa fa-envelope"></i></a>
                  <a href="https://www.facebook.com/profile.php?id=100025072321909" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="" target="_blank"><i class="fa fa-instagram"></i></a>
                  <a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Subhalingam D</div>
                <div class="mem-pos">Overall Coordinator</div>
                <div class="mem-social">
                  <a href="mailto:subhalingam.d@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                  <a href="https://www.facebook.com/SubhalingamD" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/subhu2008/" target="_blank"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/subhalingamd/" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Yashank Singh</div>
                <div class="mem-pos">Overall Coordinator</div>
                <div class="mem-social">
                  <a href="https://www.facebook.com/yashank.singh.7/" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/yashank749/" target="_blank"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/yashank-singh-145010157/" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Adwaith H Sivam</div>
                <div class="mem-pos">Coordinator</div>
                <div class="mem-social">
                  <a href="mailto:adwaithhs@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Akansha Saini</div>
                <div class="mem-pos">Coordinator</div>
                <div class="mem-social">
                  <a href="mailto:mas197059@iitd.ac.in" target="_blank"><i class="fa fa-envelope"></i></a>
                  <a href="https://www.facebook.com/akansha.saini.18294" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/akansha-saini-338a901b1" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Ayush Srivastava</div>
                <div class="mem-pos">Coordinator</div>
                <div class="mem-social"></div>
              </div>
            </div>


            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Khushi Pathak</div>
                <div class="mem-pos">Coordinator</div>
                <div class="mem-social">
                  <a href="mailto:khushikpathak@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Piyush Kumar Gupta</div>
                <div class="mem-pos">Coordinator</div>
                <div class="mem-social">
                  <a href="mailto:mas197090@iitd.ac.in" target="_blank"><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Saksham Jain</div>
                <div class="mem-pos">Coordinator</div>
                <div class="mem-social">
                  <a href="mailto:sakshampv@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Sakshi Bhandari</div>
                <div class="mem-pos">Coordinator</div>
                <div class="mem-social">
                  <a href="mailto:mt6180792@iitd.ac.in" target="_blank"><i class="fa fa-envelope"></i></a>
                </div>
              </div>
            </div>


            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Uddharsh Kotahwala</div>
                <div class="mem-pos">Coordinator</div>
                <div class="mem-social"></div>
              </div>
            </div>


            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Khushpreet Singh</div>
                <div class="mem-pos">Senior Executive</div>
                <div class="mem-social"></div>
              </div>
            </div>


            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Lakhan bansal</div>
                <div class="mem-pos">Senior Executive</div>
                <div class="mem-social"></div>
              </div>
            </div>


            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Shailza himani</div>
                <div class="mem-pos">Senior Executive</div>
                <div class="mem-social">
                  <a href="mailto:chiya71211@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                  <a href="https://www.facebook.com/shailza.saini.39" target="_blank"><i class="fa fa-facebook"></i></a>
                </div>
              </div>
            </div>


            <!-- END TEAM MEMBERS -->

          </div>

        </div>  
      </div>    
    </div>    
  </div>