  <div class="section" id="about"> 
    <div class="container">
      <div class="row">
        <div class="col-12">
          
          <h2>About Us</h2>
          <p>The Mathematics Society is a non-registered, non-profit organisation within the Department of Mathematics. It facilitates the overall development of students by providing them a platform to showcase their talent and sharpen their skills through a variety of planned events and activities throughout the year. The members of society include undergraduate and postgraduate students, research scholars and faculty of the Department of Mathematics. Targeted at motivating and encouraging student's participation the Mathematics Society is growing very fast. The society also tries to foster the development of mathematics and its inquisitiveness among students in and around Delhi through various events and workshops. Some of the events organised by the society include Khelotsav, Leminiscate, Mathomania, Open house, Decipher the cipher and many more.</p>

    
        </div>  
      </div>    
    </div>
  </div>